<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Productos</h2>

      <!-- Botón para abrir el formulario de creación de productos -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="openProductForm()"
      >
        Crear Producto
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Nuevo Producto
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <app-product-form [showProductForm]="showProductForm" />
            </div>
            <!-- <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="closeProductForm()"
              >
                Close
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <button class="btn btn-success mb-3" (click)="openProductForm()">
        Crear Producto
      </button>
      <app-product-form [showProductForm]="showProductForm" /> -->

      <!-- Buscador de productos -->
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar productos por nombre"
          (input)="searchProducts('')"
        />
        @if(isSearching){
        <span class="input-group-text">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
        </span>
        }
      </div>

      <!-- Lista de productos -->
      <ul class="list-group">
        @for(product of products; track product.id){
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div>
            <h5>{{ product.name }}</h5>
            <small>{{ product.initials }}</small>
          </div>
          <div>
            <span class="badge bg-info">{{ product.quantity }} en stock</span>
            <span class="badge bg-warning">{{
              product.price_by_unit ? "$" + product.price_by_unit : ""
            }}</span>
            <span class="badge bg-success">{{
              product.price_by_kg ? "$" + product.price_by_kg : ""
            }}</span>
          </div>
          <!-- Botones de CRUD -->
          @if(isAdmin){
          <div>
            <button
              class="btn btn-primary btn-sm"
              (click)="editProduct(product)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteProduct(product.id)"
            >
              Eliminar
            </button>
          </div>
          }
        </li>
        }
      </ul>

      <!-- Paginación -->
      @if(!isSearching && products.length > 0){
      <div class="d-flex justify-content-center mt-3">
        <button
          class="btn btn-primary"
          (click)="loadProducts()"
          [disabled]="isLoading"
        >
          Cargar más productos
        </button>
      </div>
      }
    </div>
  </div>
</div>
