<div class="card mt-2 shadow m-auto">
  <div class="card-header text-center">
    <div class="h5 my-1">LISTA DE PRODUCTOS</div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">PLU</th>
          <th scope="col">CÓDIGO</th>
          <th scope="col">INICIALES</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">STOCK</th>
          <th scope="col">PRECIO POR UNIDAD</th>
          <th scope="col">PRECIO POR KG</th>
          <th *hasRole="'ADMIN'" scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for(product of products; track product.id){
        <tr class="text-center">
          <td>{{ product.plu_code }}</td>
          <td>{{ product.barcode }}</td>
          <td>{{ product.initials }}</td>
          <td>{{ product.name.toUpperCase() }}</td>
          <td>{{ product.availability_in_deposit }}</td>
          <td>${{ product.price_by_unit }}</td>
          <td>${{ product.price_by_kg }}</td>
          <td *hasRole="'ADMIN'">
            <div class="row gx-0">
              <div class="col">
                <button
                  class="btn btn-info btn-sm opacity-75"
                  (click)="openEditModal(product)"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </div>
              <div class="col">
                <button
                  class="btn btn-danger btn-sm opacity-75"
                  (click)="deleteProductById(product.id!)"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
