<!-- Formulario para crear nuevos productos -->
<div class="card mt-5 shadow w-50 m-auto">
  <div class="card-body">
    <form
      class="needs-validation"
      [formGroup]="form"
      (ngSubmit)="createProduct()"
    >
      <div class="form-floating mb-3">
        <select id="codeType" class="form-select" formControlName="codeType">
          <option value="barcode">Código de Barras</option>
          <option value="pluCode">Código PLU</option>
        </select>
        <label for="codeType">Tipo de Código</label>
      </div>
      @if(form.get('codeType')?.value === 'barcode') {
      <div class="form-floating mb-3">
        <input
          type="text"
          id="barcode"
          autocomplete="off"
          placeholder="Escanéa el Código de barras"
          class="form-control"
          formControlName="barcode"
        />
        @if (form.get('barcode')!.hasError('required')) {
        <span class="alert-danger">Se requiere el código de barras.</span>
        }
        <label for="barcode">Escanéa el Código de barras</label>
      </div>
      }
      <!-- Campo Código PLU -->
      @if(form.get('codeType')?.value === 'pluCode') {
      <div class="form-floating mb-3">
        <input
          type="text"
          id="plu_code"
          autocomplete="off"
          placeholder="Ingresa el Código PLU"
          class="form-control"
          formControlName="pluCode"
        />
        <label for="plu_code">Código PLU</label>
        <!-- @if (form.get('pluCode')?.invalid && (form.get('pluCode')?.dirty ||
        form.get('pluCode')?.touched)) { @if
        (form.get('pluCode')?.hasError('pattern')) {
        <div class="text-danger mt-1">El código PLU debe tener 5 dígitos.</div>
        } @if(form.get('pluCode')?.hasError('required')) {
        <div class="text-danger mt-1">El código PLU es obligatorio.</div>
        } } -->
        @if (form.get('pluCode')?.hasError('pattern') &&
        form.get('pluCode')?.touched) {
        <div class="text-danger mt-1">
          El código PLU es debe tener 5 dígitos.
        </div>
        }
      </div>
      } @if (form.get('pluCode')?.hasError('pattern')) {

      <div class="container">
        <div class="form-floating mb-3">
          <input
            type="text"
            id="name"
            autocomplete="off"
            placeholder="Nombre del producto"
            class="form-control"
            formControlName="name"
          />
          <label for="name">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="number"
            id="availability_in_deposit"
            class="form-control"
            formControlName="availability_in_deposit"
          />
          <label for="availability_in_deposit" class="form-label">Stock</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="currency"
            id="price_by_unit"
            class="form-control"
            formControlName="price_by_unit"
          />
          <label for="price_by_unit" class="form-label"
            >Precio por Unidad</label
          >
        </div>
        <div class="form-floating mb-3">
          <input
            type="currency"
            id="price_by_kg"
            class="form-control"
            formControlName="price_by_kg"
          />
          <label for="price_by_kg" class="form-label">Precio por Kg</label>
        </div>
      </div>
      }
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Crear
      </button>
    </form>
  </div>
</div>
