<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th scope="col">Producto</th>
      <th scope="col">Cant.</th>
      <th scope="col">$/U</th>
      <th scope="col">$/Kg</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    @for(product of products; track product.id){
    <tr class="text-center">
      <td>{{ product.name | uppercase }}</td>
      <td>{{ product.quantity }}</td>
      <td>${{ product.priceByUnit }}</td>
      <td>${{ product.priceByKg }}</td>
      @if(product.amount_to_pay && product.amount_to_pay > 0){
      <td>{{ product.amount_to_pay | currency }}</td>
      }@else { @if(product.priceType){
      <td>
        {{
          product.priceType === "unit"
            ? (product.priceByUnit! * product.quantity | currency)
            : (product.priceByKg! * product.quantity | currency)
        }}
      </td>
      }@else {
      <td>
        {{
          product.priceByUnit != 0
            ? (product.priceByUnit! * product.quantity | currency)
            : (product.priceByKg! * product.quantity | currency)
        }}
      </td>
      } }
    </tr>
    }
  </tbody>
</table>
